<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <title>Employee Detail</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#"><h1>Employee</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/index"><h2>List</h2></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <label for="img">
                                <img th:src="@{${'/public/' + account.profilePicture}}" alt="/public/default.jpg" onerror="this.src='/public/default.jpg'" class="rounded-circle p-1 bg-secondary" width="110" height="110">
                            </label>

                            <div class="mt-3">
                                <input id="img" type="file" name="file" form="formID" class="hidden" style="display:none;">
                            </div>
                        </div>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

            <form action="/admin/email" method="POST" id="emailForm" hidden="hidden">
                <input type="text" class="form-control" name="username" th:value="${account.username}">
                <input type="text" class="form-control" name="email" th:value="${account.email}">
                <input type="text" class="form-control" name="fullName" th:value="${account.fullName}">
                <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.status}" name="status">
                <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.locked}" name="locked">
            </form>

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/admin/update" method="POST" enctype="multipart/form-data" id="formID">

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <input type="text" class="form-control" name="email" th:value="${account.email}" readonly>
                                </div>

                                <div class="col-sm-1">
                                    <h6 class="mb-0">Status</h6>
                                </div>
                                <div class="col-sm-1 text-secondary">
                                    <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.status}" name="status" disabled>
                                </div>
                                <div class="col-sm-1">
                                    <h6 class="mb-0">Lock user</h6>
                                </div>
                                <div class="col-sm-1 text-secondary">
                                    <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.locked}" name="locked">
                                    <input class="btn btn-lg btn-toggle" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" name="locked" value="false" type="hidden">
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <input type="text" class="form-control" name="fullName" th:value="${account.fullName}" readonly>
                                </div>

                                <th:block th:each="role : ${roles}">
                                    <div class="col-sm-1">
                                        <h6 class="mb-0" th:text="${role.roleName}"></h6>
                                    </div>
                                    <div class="col-sm-1 text-secondary">
                                        <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.roles.contains(role)}" th:value="role" name="roles[]">
                                        <input class="btn btn-lg btn-toggle" type="hidden" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:value="role" name="roles[]">
                                    </div>
                                </th:block>

<!--                                <div th:each="role : ${roles}">-->
<!--                                    <div class="col-sm-1">-->
<!--                                        <h6 class="mb-0" th:text="${role.roleName}"></h6>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-1 text-secondary">-->
<!--                                        <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.roles.contains(role)}" name="locked">-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-3 text-secondary">
                                    <input type="text" class="form-control" name="username" th:value="${account.username}" readonly>
                                </div>
                                <div class="col-lg-3 text-secondary">
                                    <input type="submit" class="btn btn-secondary px-4" value="Save changes">
                                </div>
                                <div class="col-lg-3 text-secondary">
                                    <input type="submit" class="btn btn-secondary px-4" value="Send login link to email" form="emailForm">
                                </div>
                            </div>

<!--                            <div class="row mb-3">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Status</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-3 text-secondary">-->
<!--                                    <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.status}" name="status" disabled>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="row mb-3">-->
<!--                                <div class="col-sm-3">-->
<!--                                    <h6 class="mb-0">Lock user</h6>-->
<!--                                </div>-->
<!--                                <div class="col-sm-9 text-secondary">-->
<!--                                    <input class="btn btn-lg btn-toggle" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="outline-danger" th:checked="${account.locked}" name="locked">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="row">-->
<!--                                <div class="col-sm-3"></div>-->
<!--                                <div class="col-sm-3 text-secondary">-->
<!--                                    <input type="submit" class="btn btn-secondary px-4" value="Save changes">-->
<!--                                </div>-->
<!--                            </div>-->

                            <div th:if="${message}">
                                <div class="alert alert-success" th:text="${message}"></div>
                            </div>

                            <div th:if="${error}">
                                <div class="alert alert-danger" th:text="${error}"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<style>
    body{
        background: #f7f7ff;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }
    .me-2 {
        margin-right: .5rem!important;
    }
</style>